<% include ../partials/header%>

<header class="main-back">
    <div class="container">
        <div class="jumbotron">
            <h1>All the recipes</h1>
            <a href="/recipes/new">Add new</a>
        </div>
        <section class="all-recipes">
            <%recipes.forEach(function(recipe){%>
                <div class="thumbnail" id="phone">
                    <div class="layer">
                    <img src="<%=recipe.image%>">
                </div>
                    <div class="rec-text">
                        <h2><%=recipe.name.substring(0,14)%>.. <i class="fas fa-angle-left"></i></h2>
                        <p><%=recipe.body.substring(0,15)%> .....</p>
                        <p><%=recipe.date.toDateString()%></p>
                        <h5><span>by</span> <%=recipe.author%></h5>
                        <a href="/recipes/<%=recipe._id%>">More Info</a>
                    </div>
                </div>
           <% }) %>
        </section>
        <div class="scrollTop"><i class="fas fa-arrow-circle-up"></i></div>
    </div>
</header>

<% include ../partials/footer %>